<!DOCTYPE html>
<meta charset="utf-8">
<title>Racer pad - {{room}}</title>
<style>
.chat-app-view header {
  padding: 20px;
}

.chat-room-view {
  width: 600px;
  height: 400px;

  border: 1px solid #999;
  border-radius: 3px;

  background-color: #eee;

  padding: 20px;

  position: relative;
}

.chat-room-view .topic {
  height: 20px;
  padding-bottom: 20px;
}

.chat-room-view .chat-history-view {
  height: 320px;
  overflow-y: scroll;
}

.chat-room-view .chat-input-view {
  position: absolute;
  bottom: 20px;
}

body {
  background: #ddd;
}
</style>

<div id="example"></div>

<script src="/script.js" onload='require("racer").init({{{bundle}}})'></script>

<script src="/react-0.10.0.js"></script>
<script src="/JSXTransformer-0.10.0.js"></script>
<script type="text/jsx" src="/react-app.jsx"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
